<!DOCTYPE html>
<html>
  <head>
      <title>E-Labs Recruitment Application 2020</title>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="E-Labs Recruitment Application 2020">
        <meta name="author" content="Avik from E-Labs Web">
       <script src="https://www.google.com/recaptcha/api.js"></script>
      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
     <style>

         /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }

       body{
         background-color:teal;
       }
     
       .progress{
         width:50%;
         margin:0 auto;
         margin-top:20%;
       }
       
       @media only screen and (max-width:924px){
            .progress{
               width:70%;
               margin:0 auto;
               margin-top:60%;
             }
       }
    
     </style>
  </head>
  
  <body>
    
     <div id="flayer">
          <div id="slayer">
    
    <div class="container" id="content">
        
       
        <div class="row">
          <div class="col l3 m3 s12"></div>
          <div class="col l6 m6 s12">
            <form action="/posts/store" method="POST">
                 <div class="card-panel z-depth-5">
                  <h5 class="center">E-Labs Recruitment</h5>
                  <p class="center">Join to our community now !</p>
          
                  <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" name="name" required>
                    <label for="name">Enter Name</label>
                  </div>
                  
                   <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="email" class="validate" required>
                    <label for="email">Enter email</label>
                  </div>
                  
                   <div class="input-field">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="roll" type="number" name="roll" required>
                    <label for="roll">College Roll Number</label>
                  </div>

                  <div class="input-field">
                    <i class="material-icons prefix">call</i>
                    <input id="mobile" type="number" name="mobile" required>
                    <label for="mobile">WhatsApp Number</label>
                  </div>

                  <div class="input-field">
                    <i class="material-icons prefix">account_balance</i>
                    <input id="branch" type="text" name="branch" required>
                    <label for="branch">Specify your Branch</label>
                  </div>

                  <div class="input-field">
                    <i class="material-icons prefix">event</i>
                    <input id="year" type="number" name="year" required>
                    <label for="year">Current year of study</label>
                  </div>

                  <div class="input-field">      
                    <select name="apply_for" class="browser-default validate" required>
                      <option value="" disabled selected>Select the Domain you are applying for...</option>
                      <option value="Graphics_Designer">Graphics Designer</option>
                      <option value="Video_Editor">Video Editor</option>
                      <option value="Digital_Marketing">Digital Marketing</option>
                    </select>                    
                  </div>
                  
                  <div class="input-field">
                    <center>
                    <div class="g-recaptcha" data-sitekey="6Ld5qccZAAAAAB8VbicBCTesQY2InbLo7RigUCjG" data-callback="verifyCaptcha" data-size="compact"></div>
                        <div id="g-recaptcha-error"></div>
                      </center>
                  </div>
                 
                  <input type="submit" name="submit" value="register" class="btn left col s12">
                
                  <div class="clearfix"></div>
               </div>
            </form>
            
          </div>
            <div class="col l3 m3 s12"></div>
      
          
          
        </div>
    </div>
     </div>
          </div>
       
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
          $(document).ready(function() {
                $('select').material_select();
            });
    </script>
    <script>
   
      const login = document.querySelectorAll(".modal");
      M.Modal.init(login,{
        opacity:0.7,
        dismissible:false
      });
      
      document.querySelector("#content").style.display="none";
      document.querySelector("#flayer").classList.add("progress");
      document.querySelector("#slayer").classList.add("indeterminate");
      
      setTimeout(function(){
          document.querySelector("#flayer").classList.remove("progress");
          document.querySelector("#slayer").classList.remove("indeterminate");
          document.querySelector("#content").style.display="block";
      },3000)
    </script>
  </body>
</html>